/* Блок Jobs */
.jobs-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 30px;
}

.jobs-container__card {
    width: 450px;
    height: 235px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.jobs-container__card:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,.08);
    cursor: pointer;
}

.job-container__card-link {
    text-decoration: none;
    display: block;
}

.jobs-container__card-title {
    font: 500 20px/28px "Inter", sans-serif;
    color: #1E293B;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.jobs-container__card-employer {
    font: 400 14px/20px "Inter", sans-serif;
    color: #676E78;
}

.jobs-container__card-details {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    color: #4CAF4F;
    line-height: 40px;
}


.jobs-container__card-location-text {
    font: 14px/14px "Inter", sans-serif;
    color: #4b5563;
}



.jobs-container__card-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jobs-container__card-description-text {
    font: 14px/18px "Inter", sans-serif;
    color: #4b5563;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.jobs-container__card-views-text {
    font: 14px/20px "Inter", sans-serif;
    white-space: nowrap;
    color: #4b5563;
}

.jobs-container__card-price {
    display: flex;
    justify-content: center;
    width: 156px;
    height: 28px;
    background-color: #4CAF4F19;
    border-radius: 6px;
}

.jobs-container__card-price-p1 {
    display: flex;
    align-items: center;
    font: 500 14px/20px "Inter", sans-serif;
    color: #4CAF4F;
}


.jobs-container__card-footer {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 37px;
    border-top: 1px solid #E2E8F0;
}

.jobs-container__card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    height: 100%;
    padding: 0 12px;
}

.jobs-container__card-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    height: 100%;
    padding: 0 12px;
}
/* Общие стили для всех блоков */
.jobs-container__card-location,
.jobs-container__card-date,
.jobs-container__card-views {
    display: flex;
    align-items: center;
    gap: 6px;
    font: 14px/20px "Inter", sans-serif;
    color: #4b5563;
}

    .jobs-container__card-location::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('..//fonts/location-14px.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .jobs-container__card-date::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('..//images/time.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .jobs-container__card-views::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('../fonts/Eye.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

/* Блок Jobs--detail */
.jobs-container--detail {
    display: flex;
    flex-direction: column;
    width: 370px;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.jobs-container__card--detail {
    width: 385px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 0 0 15px 0;
}


.jobs-container__card-footer--detail {
    height: 37px;
    width: 330px;
}

.jobs-container__card-info--detail {
    padding: 0;
}

.jobs-container__card-info--footer {
    padding: 0;
}

.job-container__card--link {
    margin-bottom: 0;
}

job-details__block-two-p2 h3 {
    position: fixed;
    top: 0;
    background: white;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    z-index: 1;
}

.job-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    height: auto;
}

.job-category__block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 16px;
}

.job-category__card {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 150px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
    .job-category__card:hover {
        background: #F0FAF5;
    }

.job-category__card-all {
    display: flex;
    width: 220px;
    height: 150px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.job-category__card:focus {
    border-color: #E2E8F0;
    box-shadow: 0 0 5px rgba(76, 175, 79, 0.4);
}

.job-category__card:hover {
    border-color: #E2E8F0;
}


.job-category__card-all :focus {
    border-color: #E2E8F0;
    box-shadow: 0 0 6px rgba(76, 175, 79, 0.4);
}

.job-category__card-all:hover {
    border-color: #E2E8F0;
}
.job-category__title {
    display: flex;
    height: 64px;
    font: 600 24px/32px "Inter", sans-serif;
    text-align: left;
    margin-left: 22px;
    color: #1E293B;
    margin-top: 48px;
}
.job-category__card-title {
    display: flex;
    flex-wrap: wrap;
    font: 500 18px/28px "Inter", sans-serif;
    text-align: center;
    color: #1E293B;
    margin-left: 16px;
}

.job-category__card-icon {
    width: 32px;
    height: 32px;
    margin: 16px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background-size: contain;
}

.job-category__card-count {
    display: flex;
    flex-wrap: wrap;
    font: 14px/20px "Inter", sans-serif;
    color: #676E78;
    margin-left: 16px;
}

.job-button {
    min-width: 160px;
    width: auto;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background: #9eeb47;
    color: white;
    white-space: nowrap;
    border: 1px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

    .job-button:hover {
        background-color: #34a165;
    }

.job-details__action {
    display: flex;
    margin-left: 15px;
}

.jobs-container-block {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}