@import url(../css/home.css);
@import url(../css/login.css);
@import url(../css/profile.css);
@import url(../css/font.css);
@import url(../css/detail.css);
@import url(../css/add-job.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none;
    padding-top: 70px;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
    scrollbar-width: none; /* Для Firefox */

}
    body::-webkit-scrollbar {
        display: none;
    }

.main-content {
    flex: 1;
    box-sizing: border-box;
}

/* Шапка сайта */
.header-container {
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1049;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);
}

/* Логотип слева */
.header-container__logo {
    display: flex;
    margin-right: 20px;
    background-repeat: no-repeat;
}

/* Навигационное меню по центру */
.header-container__nav {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    row-gap: 10px;
}

.header-container__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0 10px 0 10px;
}

.header-container__item {
    display: flex;
    margin: 0 15px;
}

/* Профиль/кнопка справа */
.header-container__profile {
    display: flex;
    margin-right: 20px;
}

.header-container__menu {
    margin-right: 5px;
    position: relative;
}


.header-container__menu a:hover {
    color: #4CAF4F;
}

.header-container__menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

    .header-container__menu-profile:after {
        content: '';
        width: 16px;
        height: 16px;
        border: none;
        background-repeat: no-repeat;
        box-shadow: none;
        outline: none;
        background-size: contain;
        background-image: url(../fonts/expand.svg);
        position: absolute;
        right: 0;
    }

    .header-container__menu-profile-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
    }

.header-container__text {
    display: block;
    font: 15px/15px 'Inter', -apple-system, sans-serif;
    text-decoration: none;
    color: #676e78;
    text-decoration: unset;
}

.header-container__menu-profile-name {
    text-decoration: none;
    margin-right: 20px;
    font: 600 15px/15px 'Inter', -apple-system, sans-serif;
    color: #676e78;
}

.header-container__menu-dropdown {
    background: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
}

.header-container__menu-dropdown.show {
    display: flex;
    flex-direction: column;
}

    .header-container__menu-dropdown a,
    .header-container__menu-dropdown button {
        display: block;
        width: 100%;
        font: 15px/15px 'Inter', -apple-system, sans-serif;
        text-decoration: none;
        letter-spacing: 0.03em;
        padding: 10px 0 10px 0;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;
        color: #676e78;
    }

        .header-container__menu-dropdown a:hover,
        .header-container__menu-dropdown button:hover {
            color: #8ceebd;
        }

/* Кнопка "Войти" если нет профиля */
.login-button {
    font: 14px/14px 'Inter', -apple-system, sans-serif;
    padding: 8px 20px;
    background: #14B855;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

    .login-button:hover {
        background: #F0FAF5;
    }

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 233px;
    width: auto;
    background: linear-gradient(90.00deg, rgba(240, 250, 245, 1),rgba(255, 255, 255, 1) 60%,rgba(237, 242, 247, 1) 100%);
}

.menu-container__search {
    display: flex;
    margin-right: 16px;
    width: 896px;
    height: 64px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 1);
}

.menu-container__search-form {
    display: flex;
    width: 513px;
    height: 48px;
    border: none;
    outline: none;
    background: none;
    margin: 8px 16px 8px 16px;
}

.search-input-text {
    width: 513px;
    height: 48px;
    outline: none;
    background-image: url(../fonts/search.svg);
    background-repeat: no-repeat;
    background-position: left 1px center;
    background-size: 32px 20px;
    box-sizing: border-box;
    padding: 0 50px 0 40px ;
    font: 16px/16px "Inter", sans-serif;
    color: #676E78;
    border: none;
}

.menu-container__info {
    position: relative;
    width: 221px;
    height: 32px;
    display: flex;
    justify-content: center;
    border-left: 1px solid #E2E8F0;
    align-items: center;
    margin: 16px;
    gap: 8px;
    padding: 0 16px;
}

    .menu-container__info::before {
        content: "";
        display: inline-block;
        width: 20px; 
        height: 20px;
        background-image: url(../fonts/svg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
        flex-shrink: 0; 
    }

.menu-container__info-text {
    color: #1E293B;
    font: 500 16px/24px "Inter", sans-serif;
}

.menu-container__search-job-btn {
    width: 114px;
    height: 48px;
    font: 500 16px/24px "Inter", sans-serif;
    background: #14B855;
    color: #FFFFFF;
    text-align: center;
    margin: 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
    .menu-container__search-job-btn:hover {
        background: #E2E8F0;
        color: #FFFFFF;
    }

    .navbar {
        font-size: 16px;
    }

footer {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container-footer {
    max-width: 1392px;
    padding: 48px 0 24px;
    border-top: 1px solid #E5E7EB;
}

.container-footer__info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 48px;
}

.container-footer__info-card-p1,
.container-footer__info-card-p2,
.container-footer__info-card-p3 {
    width: 442.67px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-footer__logo-text {
    display: inline-block;
}

.container-footer__logo {
    height: 32px;
    width: auto;
}

.container-footer__info-card-text {
    width: 442px;
    font: 14px/20px 'Inter', sans-serif;
    color: #6B7280;
    margin-top: 15px;
}

.container-footer__info-card-text-company {
    width: 442px;
    font: 14px/20px 'Inter', sans-serif;
    color: #6B7280;
    margin-top: 15px;
}

.container-footer__info-card-header-text {
    font: 600 16px/24px 'Inter', sans-serif;
    color: #111827;
    margin: 0 0 16px 0;
}

.container-footer__info-card-ul,
.container-footer__info-card-ul-pravo {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-footer__info-card-item,
.container-footer__info-card-ul-pravo-item {
    margin-bottom: 12px;
}

.container-footer__info-card-text,
.container-footer__info-card-ul-pravo-text {
    font: 14px/20px 'Inter', sans-serif;
    color: #6B7280;
    text-decoration: none;
}

    .container-footer__info-card-text:hover,
    .container-footer__info-card-ul-pravo-text:hover {
        color: #4CAF4F;
    }

.container-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid #E5E7EB;
}

.container-footer__bottom-copy,
.container-footer__bottom-link {
    font: 12px/16px 'Inter', sans-serif;
    color: #6B7280;
    text-decoration: none;
}
.container-footer__bottom-link:hover {
    color: #4CAF4F;
}

a {
    text-decoration: none;
}

/*Адаптивность экрана*/
@media (min-width: 768px) {
    
    .job-button {
        width: 100%;
        min-width: unset;
        margin-top: 12px;
    }
    
}   




