/* Блок авторизации */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-card {
    width: 448px;
    min-height: 427px;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.auth-tabs {
    display: flex;
    margin-bottom: 32px;
}

.auth-tab {
    flex: 1;
    background: transparent;
    border: none;
    padding: 10px;
    font: 600 16px/100% 'Inter', -apple-system, BlinkMacSystemFont;
    cursor: pointer;
    color: #676E78;
    border-bottom: 2px solid transparent;
}

    .auth-tab.active {
        border-color: #4CAF4F;
        font-weight: 600;
        color: #4CAF4F;
    }

.login-input {
    padding: 12px 20px;
    border-radius: 12px;
    height: 45px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    outline: none;
    transition: all 0.2s;
}

    .login-input:focus {
        border-color: #E2E8F0;
        box-shadow: 0 0 5px rgba(139, 195, 74, 0.5);
    }

.login-error {
    color: #e53935;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hidden {
    display: none;
}

.job-button-auth {
    font: 500 14px/100% 'Inter', -apple-system, BlinkMacSystemFont;
    min-width: 150px;
    width: auto;
    height: 45px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    border: none;
    border-radius: 12px;
    background: #14B855;
    letter-spacing: 0.2px;
}

.job-button-login {
    font: 500 15px/100% 'Inter', -apple-system, BlinkMacSystemFont;
    min-width: 106px;
    width: auto;
    height: 40px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 30px;
    white-space: nowrap;
    border-radius: 12px;
    background: #14B855;
    letter-spacing: 0.2px;
}
    .job-button-login:hover {
        font: 500 15px/100% 'Inter', -apple-system, BlinkMacSystemFont;
        background-color: #F0FAF5;
        text-decoration: none;
        color: white;
    }
    .job-button-exit {
        min-width: 120px;
        width: auto;
        height: 40px;
        font-size: 14px;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: black;
        margin-right: 10px;
        white-space: nowrap;
        border: 1px solid #9eeb47;
        border-radius: 6px;
        font-weight: 500;
        background: white;
    }


.error-message {
    text-align: center;
    color: #e53935;
    background: #fdecea;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}